section.related-products.color-bg_slight-blue
    .related-products__wrapper
        h2.related-products__title.playfair-bold.fz35 Related Products

        .related-products__table
            table(style='width: 100%', border='1')
                tr
                    td.related-products
                        .related-no-padding
                            .rectangle.color-bg_white
                                .evaluation.sintony-bold.fz14.color-bg_orange.color_white
                                    ul
                                        li 5
                                        li.star-icon
                                            img.shopping-cart__star_icon(src='./images/shopping-cart/star_icon.png' alt='stars' srcset='')
                                .add-to-cart.sintony-bold.fz35.color-bg_orange.color_white
                                    .plus.color_white
                                ul.sintony-bold.fz17
                                    li.image
                                        img.shopping-cart__image_226(src='./images/shopping-cart/image_226.png' alt='image' srcset='')
                                    li.product Adzuki Beans
                                    li.price-old.sintony-normal $100 
                                    li.price $100
                    td.related-products
                        .related-no-padding
                            .rectangle.color-bg_white
                                .evaluation.sintony-bold.fz14.color-bg_orange.color_white
                                    ul
                                        li 5
                                        li.star-icon
                                            img.shopping-cart__star_icon(src='./images/shopping-cart/star_icon.png' alt='stars' srcset='')
                                .add-to-cart.sintony-bold.fz35.color-bg_orange.color_white
                                    .plus.color_white
                                ul.sintony-bold.fz17
                                    li.image
                                        img.shopping-cart__image_226(src='./images/shopping-cart/image_226.png' alt='image' srcset='')
                                    li.product Cranberry Beans
                                    li.price-old.sintony-normal $100 
                                    li.price $100
                    td.related-products
                        .related-no-padding
                            .rectangle.color-bg_white
                                .evaluation.sintony-bold.fz14.color-bg_orange.color_white
                                    ul
                                        li 5
                                        li.star-icon
                                            img.shopping-cart__star_icon(src='./images/shopping-cart/star_icon.png' alt='stars' srcset='')
                                .add-to-cart.sintony-bold.fz35.color-bg_orange.color_white
                                    .plus.color_white
                                ul.sintony-bold.fz17
                                    li.image
                                        img.shopping-cart__image_226(src='./images/shopping-cart/image_226.png' alt='image' srcset='')
                                    li.product Yellow Solit Ientils
                                    li.price-old.sintony-normal $100 
                                    li.price $100
                    td.related-products
                        .related-no-padding
                            .rectangle.color-bg_white
                                .evaluation.sintony-bold.fz14.color-bg_orange.color_white
                                    ul
                                        li 5
                                        li.star-icon
                                            img.shopping-cart__star_icon(src='./images/shopping-cart/star_icon.png' alt='stars' srcset='')
                                .add-to-cart.sintony-bold.fz35.color-bg_orange.color_white
                                    .plus.color_white
                                ul.sintony-bold.fz17
                                    li.image
                                        img.shopping-cart__image_226(src='./images/shopping-cart/image_226.png' alt='image' srcset='')
                                    li.product Green Peas
                                    li.price-old.sintony-normal $100 
                                    li.price $100