.header {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: none;
	height: inherit;

	.header__wrapper {
		justify-content: center;
		display: contents;
	}


	&__logo-icon {
		outline: none;
		display: inline-block;
		width: 150px;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
	}

	.header__nav {
		&-list {
			display: flex;

			.header__nav-item {
				margin-right: 20px;

				&:first-child {
					margin-left: 16px;
				}

				.header__nav-link {
					text-decoration: none;
					letter-spacing: 0.35px;
					@include hover-link;
				}
			}
		}
	}

	&__book-btn {
		margin-left: 20px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 0px 3px $color_orange;
		border: 1px solid $color_white;
		padding: 12px 12px 12px 45px;

		&::before {
			content: "";
			width: 20px;
			height: 20px;
			position: absolute;
			background-image: url("./../images/header/iconPlate.png");
			background-repeat: no-repeat;
			top: 20%;
			left: 7.5%;
		}

		@include hover-button;
	}
}
