section.feedback-slider
  .feedback-slider__wrapper
    h2.feedback-slider__title.playfair-bold.fz35.color_dark
      | Happy Clients
    .feedback-slider__radio
      ul.feedback-slider__list
        li.feedback-slider__list-radio.active_radio
        li.feedback-slider__list-radio
        li.feedback-slider__list-radio
    .feedback-slider__body
      .feedback-slider__slide
        +feedback()
        +feedback()
        +feedback()