section.feedback-slider
  .wrapper
    h2.feedback-slider__title
      | Happy Clients
    .feedback-slider__body
      .feedback-slider__slide
        .feedback-slider__img
        .feedback-slider__text
          h3.feedback-slider__headline
            | Best atmosphere and food
          p.feedback-slider__disc
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
            | model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy.
            | Various versions have evolved over the years, sometimes by accident.
          span.feedback-slider__line
          span.feedback-slider__name
            | Dr. Prabakaran John
          span.star