section.feedback-slider
  .feedback-slider__wrapper
    h2.feedback-slider__title.playfair-bold.fz35.color_dark
      | Happy Clients
    .feedback-slider__radio
      ul.feedback-slider__list
        li.feedback-slider__list-radio.active_radio
        li.feedback-slider__list-radio
        li.feedback-slider__list-radio
    .feedback-slider__body
      .feedback-slider__slide
        +feedback('./images/feedback-slider/person2.jpg','DR. PRABAKARAN JOHN', 'Best atmosphere and food')
        +feedback('./images/feedback-slider/person1.jpg','Melissa Peters', 'I wish you good luck')
        +feedback('./images/feedback-slider/person3.jpg','DR. alban', 'Its my life!')