.feedback-slider {
	&__wrapper {
		width: 60%;
		margin: 97px auto 100px;
		position: relative;
	}

	&__slide {
		padding-right: 65px;
		width: 100%;
		height: 309px;
	}
	&__block {
		display: flex;
		height: 100%;
	}
	&__text {
		position: relative;
		padding-left: 69px;
		max-width: 694px;
		@include feedback-slider_quotes;

		&:before {
			top: 7px;
			left: 29px;
		}

		&:after {
			transform: rotate(180deg);
			right: 2px;
			top: 178px;
		}
	}

	&__body {
		position: relative;
		overflow: hidden;
	}

	&__radio {
		z-index: 10;
		position: absolute;
		right: -142px;
		top: 122px;
	}

	@include radio;

	&__title {
		text-align: center;
		padding-bottom: 31px;
	}

	&__img img {
		min-width: 269px;
		max-height: 308px;
	}

	&__headline {
		padding-top: 23px;
	}

	&__disc {
		position: relative;
		padding: 25px 0 75px;
		line-height: 30px;
	}

	&__disc:after {
		content: "";
		position: absolute;
		width: 221px;
		height: 2px;
		background-color: $color_medium-white;
		bottom: 27px;
		left: 0;
	}

	&__stars {
		margin-top: 9px;
	}
}
