.feedback-slider {

    .feedback-slider__slide {
        display: flex;
    }

    .feedback-slider__title {
        font-family: $font-Playfair;
        font-size: rem(35px);
        font-weight: bold;
        color: #14141d;
    }

    .feedback-slider__img {
        min-width: 269px;
        min-height: 295px;
        background-color: #7d8587;
    }

    .feedback-slider__headline {
        font-family: $font-Playfair;
        font-size: rem(25px);
        font-weight: bold;
        color: #14141d;
    }

    .feedback-slider__disc {
        font-family: $font-Sintony;
        font-size: rem(15px);
        color: #363d43;
    }

    .feedback-slider__line {
        width: 221px;
        height: 2px;
        background-color: #d7d7d7;    
    }

    .feedback-slider__name {
        font-family: $font-Sintony;
        font-size: rem(16px);
        font-weight: bold;
        color: #14141d;
    }


}