@media (max-width: 767px) {
	.create-account__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.create-account__wrapper {
		padding: 100px 10px;
	}
	.create-account-form {
		max-width: 435px;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
	}
	.account-btn {
		margin: 30px 0 0 0;
	}
	.account-input {
		min-width: 100%;
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.account-input {
		width: 300px;
	}
}