.our-cooks {
    background-image: url("./../images/reserve-form/gray_background.png");
    padding: 100px 0;
    &__wrapper {
        text-align: center;

        .cheff-photo {
            width: 268px;
            height: 262px;
        }
        
        .rectangle-bottom {
            width: 268px;
            height: 85px;
        }
        
        .cheff-name {
            padding-top: 20px;
            text-align: center;
        }

    }
    &__cheff-block {
        display: flex;
        justify-content: center;
        padding-top: 40px;

        .cheff-part {
            padding-right: 30px;
        }
    }
}


