section.our-cooks
    .our-cooks__wrapper
        .our-cooks__title.playfair-bold.fz35 Our Cooks
        .our-cooks__cheff-block
            .our-cooks__chef-team-item-inner.cheff-part
                img.cheff-photo(src="./images/chef/john-cliff.jpg", alt="john-cliff")
                .chef-team.rectangle-bottom.color-bg_white
                    p.cheff-name.sintony-bold.fz15.color_dark Cheff. John Cliff
            .our-cooks__chef-team-item-inner.cheff-part
                img.cheff-photo(src="./images/chef/peter-vasco.jpg", alt="peter-vasco")
                .chef-team.rectangle-bottom.color-bg_white
                    p.cheff-name.sintony-bold.fz15.color_dark Cheff. Peter Vasco
            .our-cooks__chef-team-item-inner.cheff-part
                img.cheff-photo(src="./images/chef/mariya-thomas.jpg", alt="mariya-thomas")
                .chef-team.rectangle-bottom.color-bg_white
                    p.cheff-name.sintony-bold.fz15.color_dark Cheff. Mariya Thomas
            .our-cooks__chef-team-item-inner.cheff-part
                img.cheff-photo(src="./images/chef/james-dico.jpg", alt="james-dico")
                .chef-team.rectangle-bottom.color-bg_white
                    p.cheff-name.sintony-bold.fz15.color_dark Cheff. James Dico