//1024 PX
@media (min-width: 1024px) {
	.header {
		&__slider {
			padding: 0 30px;
			margin: 0 auto 200px;
			.header__slider-subtitle {
				padding-top: 15px;
				display: block;
			}
		}
		&__menu {
			padding: 0 10px;
		}
	}
}

// 998 PX
@media (max-width: 998px) {
	.header {
		padding: 10px;

		.header__nav {
			&-list {
				display: flex;

				.header__nav-item {
					margin-right: 14px;

					&:first-child {
						margin-left: 13px;
					}
				}
			}
		}
		&__logo-icon {
			width: 100px;
		}
		&__nav-current {
			font-size: $fz12;
		}
		&__nav-link {
			font-size: $fz12;
		}
		&__menu {
			padding: 0;
			max-width: 820px;
		}
		&__book-btn {
			font-size: fz10;
			padding: 10px 8px 10px 30px;
			&::before {
				left: 2%;
				width: 18px;
				height: 18px;
			}
		}

		&__slider {
			padding: 0 30px;
			&-info {
				padding-top: 100px;
			}
		}
	}
}

// 767 PX
@media (max-width: 767px) {
	.lock {
		overflow: hidden;
		background: $color_orange;
		transition: all 0.5s;
	}
	.header {
		&__menu {
			justify-content: space-between;
			position: relative;
		}
		.header__nav-list {
			.header__nav-item {
				margin: 0;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		&__nav-link {
			font-size: $fz25;
		}
		&__nav-current {
			font-size: $fz25;
		}
		height: 100%;

		&__burger {
			display: block;
			position: relative;
			background-color: $color_orange;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			z-index: 110;
			&-link {
				overflow: hidden;
			}
			&-link &-lines,
			&-lines:before,
			&-lines:after {
				position: absolute;
				width: 30px;
				height: 4px;
				background-color: $color_white;
			}
			&-lines {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.2s;
			}
			&-lines:before {
				content: "";
				top: -8px;
				position: absolute;
			}
			&-lines:after {
				content: "";
				top: 8px;
				position: absolute;
			}
			&-active &-lines {
				background-color: transparent;
			}
			&-active &-lines:before {
				top: 0;
				transform: rotate(45deg);
			}
			&-active &-lines:after {
				top: 0;
				transform: rotate(-45deg);
			}
		}

		&__logo {
			margin-right: 15px;
		}

		&__nav {
			margin-left: -10px;
			z-index: 100;
			height: 100%;
			width: 100%;
			flex-direction: column;
			background-color: $color_orange;
			position: fixed;
			top: -100%;
			overflow: auto;
			transition: all 0.5s;
			&-list {
				height: 100%;
				flex-direction: column;
				justify-content: space-around;
				text-align: center;
			}
		}
		.header__nav-active {
			top: 0;
		}

		&__slider-title {
			font-size: $fz51;
			span {
				font-size: $fz40;
			}
		}
		&__slider-subtitle {
			display: inline;
		}
		&__slider {
			width: 90%;
			padding: 0;
			&-btn-left,
			&-btn-right {
				width: 30px;
				height: 30px;
				top: 30%;
			}
		}
	}
}

// 576 PX
@media (max-width: 576px) {
	.header {
		min-height: 100%;
		&__slider-title {
			font-size: $fz42;
			span {
				font-size: $fz35;
			}
		}
		&__slider {
			width: 85%;
			padding: 0 30px;
		}
	}
}

//479 PX
@media (max-width: 479px) {
	.header {
		&__logo {
			display: none;
		}

		&__slider-title {
			font-size: $fz30;
			span {
				display: block;
				font-size: $fz20;
			}
		}
		&__slider {
			width: 85%;
			padding: 0 18px;
			&-btn-left,
			&-btn-right {
				width: 15px;
				height: 15px;
				top: 30%;
			}
		}
		.header__slider-info {
			&-phone {
				padding-top: 30px;
			}
			&-disc {
				padding-top: 20px;
			}
		}
	}
}
//376 PX
@media (max-width: 376px) {
	.header {
		&__slider-title {
			font-size: $fz28;
			span {
				font-size: $fz22;
			}
		}
		&__slider {
			width: 92%;
			padding: 0 18px;
		}
	}
}
//320 PX
@media (max-width: 320px) {
	.header {
		&__book-btn {
			margin-left: 0;
		}
		&__slider-title {
			font-size: $fz25;
			span {
				font-size: $fz18;
			}
		}
		&__slider {
			width: 86%;
			padding: 0 20px;
			&-btn-left,
			&-btn-right {
				width: 15px;
				height: 15px;
				top: 30%;
			}
		}
		.header__slider-info {
			padding-top: 20px;
			&-phone {
				padding-top: 10px;
			}
		}
	}
}
