@media (max-width: 1200px) {
	.schedule {
		width: 60%;
		margin: 0 auto;
		&__title {
			font-size: $fz25;
			margin-right: 50px;
		}
		&__item {
			right: -186px;
		}
		&__text {
			font-size: $fz18;
			padding-right: 25px;
		}
	}
}
@media (max-width: 1068px) {
	.schedule {
		&__title {
			font-size: $fz22;
			margin-right: 30px;
		}
	}
}
@media (max-width: 998px) {
	.schedule {
		width: 70%;
		&__title {
			padding: 50px 0;
			margin-right: 0;
			display: block;
			text-align: center;
			font-size: $fz35;
		}
		&__item {
			display: none;
		}
		&__text {
			display: block;
			font-size: $fz22;
			text-align: center;
			padding-bottom: 35px;
		}
		&__time {
			padding-top: 0;
			padding-left: 25px;
		}
	}
}
@media (max-width: 620px) {
	.schedule__time {
		display: block;
	}
}
@media (max-width: 576px) {
	.schedule {
		width: 80%;
	}
}

@media (max-width: 479px) {
	.schedule {
		width: 90%;
		&__title {
			font-size: $fz25;
		}
		&__text {
			font-size: $fz18;
			padding-right: 0;
		}
	}
}
