.list {
	padding: 97px 0 100px;
	&__main-title {
		text-align: center;
	}
	&__flex-container {
		max-width: 539px;
		margin: 0 auto;
		padding: 42px 0 79px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-name{
				padding-top: 12px;
			}
		}
	}
}
