.list
  h2.list__main-title.fz35.playfair-bold.color_dark Menu List View
  .list__flex-container
    +menu__list('./images/menu/menu_list/icon_all.png', 'All')
    +menu__list('./images/menu/menu_list/icon_breakfast.png', 'Breakfast')
    +menu__list('./images/menu/menu_list/icon_lunch.png', 'Lunch')
    +menu__list('./images/menu/menu_list/icon_snacks.png', 'Snacks')
    +menu__list('./images/menu/menu_list/icon_pizza.png', 'Pizza')
    +menu__list('./images/menu/menu_list/icon_soups.png', 'Soups')
    +menu__list('./images/menu/menu_list/icon_dinner.png', 'Dinner')
