.main-title
  .main-title_img
    img(src="./images/main-title/left_leaf.png", alt="")
  h1.main-subtitle.fz56.color_white.text-decor-dark.playfair-bold Blog
  .main-title_img
    img(src="./images/main-title/right_leaf.png", alt="")