.chef {
    padding-top: 100px;
}

.chef__wrapper {
    margin: 0 auto;
    display: flex;
}

.double-part {
    display: flex;
    box-shadow: 0px 46px 57px 0px rgba(0, 0, 0, 0.15);
}


.double-part-head {
    padding-bottom: 30px;
}

.double-part-desc {
    line-height: 2;
}

.double-part-info {
    // background-image: url("./../images/chef/food_vector_bg.png");
    width: 600px;
    padding: 45px;
}

.double-part-expertise {
    padding-top: 45px;
    padding-bottom: 20px;
}

.inner-name {
    margin-right: 10px;
}

.inner-expertise {
    display: inline;
    padding-right: 20px;
}