section.chef
    .chef__wrapper
        .chef.double-part
            h2.form-part__title.playfair-bold.fz35.color_dark Head Chef
            img.double-part-photo(src="./images/chef/head-chef.jpg", alt="head-chef")
            .chef.double-part-info
                h3.double-part-head.playfair-bold.fz22.color_dark Chef. Manoj Lal
                p.double-part-desc.sintony-normal.fz14.color_lighter-gray Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy when an unknown printer.
                +social('facebook', './images/footer/facebook.png','https://uk-ua.facebook.com/')
                +social('twitter', './images/footer/twitter.png', 'https://twitter.com/ru')
                +social('google', './images/footer/google.png','https://www.google.com.ua/?hl=ru')
                p.double-part-expertise.playfair-bold.fz18.color_dark Expertise
                ul
                    li.expertise-wrap
                        li.inner-expertise 
                            img(src="./images/chef/icon_breakfast.png", alt="breakfast")
                        li.inner-expertise.inner-name.sintony-bold.fz13.color_lighter-gray Breakfast
                    
                        li.inner-expertise
                            img(src="./images/chef/icon_starter.png", alt="starter")
                        li.inner-expertise.inner-name.sintony-bold.fz13.color_lighter-gray Starter
                    
                        li.inner-expertise
                            img(src="./images/chef/icon_lunch.png", alt="lunch")
                        li.inner-expertise.inner-name.sintony-bold.fz13.color_lighter-gray Lunch