section.event
    .event__wrapper
        .event.event-main-part
            .event.main-part-wrap
                .event-date-block
                    .event-date-day.sintony-bold.fz32.color-bg_orange.color_white 08
                        .event-date-month.sintony-bold.fz15.color-bg_orange.color_white NOV
                        .event-date-year.sintony-bold.fz15.color-bg_orange.color_white 2016
                .event-photo-block
                    img(src="./../dist/images/event/sax.jpg", alt="sax")
                .event-desc
                    .event-desc-title.playfair-bold.fz35.color_dark Event Heading Here
                    .event-desc.event-time-wrap
                        img.clock-icon(src="./../dist/images/event/icon_clock.png", alt="icon_clock")
                        p.playfair-bold.fz22.color_dark 7.00 pm - 10.00 pm
                    .event-desc.event-description
                        p.sintony-normal.fz14.color_lighter-gray Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                    .event-desc.btn.desc-btn.fz14.sintony-bold(href='#') View event details
            .event.main-part-wrap
                .event-date-block
                    .event-date-day.sintony-bold.fz32.color-bg_orange.color_white 15
                        .event-date-month.sintony-bold.fz15.color-bg_orange.color_white NOV
                        .event-date-year.sintony-bold.fz15.color-bg_orange.color_white 2016
                .event-photo-block
                    img(src="./../dist/images/event/violin.jpg", alt="violin")
                .event-desc
                    .event-desc-title.playfair-bold.fz35.color_dark Event Heading Here
                    .event-desc.event-time-wrap
                        img.clock-icon(src="./../dist/images/event/icon_clock.png", alt="icon_clock")
                        p.playfair-bold.fz22.color_dark 7.00 pm - 10.00 pm
                    .event-desc.event-description
                        p.sintony-normal.fz14.color_lighter-gray Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                    .event-desc.btn.desc-btn.fz14.sintony-bold(href='#') View event details
            .event.main-part-wrap
                .event-date-block
                    .event-date-day.sintony-bold.fz32.color-bg_orange.color_white 20
                        .event-date-month.sintony-bold.fz15.color-bg_orange.color_white NOV
                        .event-date-year.sintony-bold.fz15.color-bg_orange.color_white 2016
                .event-photo-block
                    img(src="./../dist/images/event/piano.jpg", alt="piano")
                .event-desc
                    .event-desc-title.playfair-bold.fz35.color_dark Event Heading Here
                    .event-desc.event-time-wrap
                        img.clock-icon(src="./../dist/images/event/icon_clock.png", alt="icon_clock")
                        p.playfair-bold.fz22.color_dark 7.00 pm - 10.00 pm
                    .event-desc.event-description
                        p.sintony-normal.fz14.color_lighter-gray Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                    .event-desc.btn.desc-btn.fz14.sintony-bold(href='#') View event details
    .event__pagination
        button.event__pagination-btn-prev.sintony-bold.fz14.color_white.color-bg_orange.btn.active_end(type='button') prev
        .event__pagination-container
            button.event__pagination-container-pages 1-3
            button.event__pagination-container-pages 3-6
            button.event__pagination-container-pages 6-9
        button.event__pagination-btn-next.sintony-bold.fz14.color_white.color-bg_orange.btn(type='button') next