section.pagination
  button.pagination__btn-prev.sintony-bold.fz14.color_white.color-bg_orange.btn.active_end(type='button' disabled) prev
  .pagination__container
    button.pagination__container-pages 1-3
    button.pagination__container-pages 3-6
    button.pagination__container-pages 6-9
  button.pagination__btn-next.sintony-bold.fz14.color_white.color-bg_orange.btn(type='button') next