section.chef-team.color-bg_slight-blue
    .chef-team-bg-image
        .chef-team__wrapper
            h2.chef-team__title.playfair-bold.fz35 Chef Team
            .chef-team__first-row
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. John Cliff
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/john-cliff.jpg", alt="john-cliff")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. John Cliff
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. Peter Vasco
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/peter-vasco.jpg", alt="peter-vasco")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. Peter Vasco
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. Mariya Thomas
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/mariya-thomas.jpg", alt="mariya-thomas")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. Mariya Thomas
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. James Dico
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/james-dico.jpg", alt="james-dico")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. James Dico
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
            .chef-team__second-row
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. John Cliff
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/john-cliff.jpg", alt="john-cliff")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. John Cliff
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. Peter Vasco
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/peter-vasco.jpg", alt="peter-vasco")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. Peter Vasco
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. Mariya Thomas
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/mariya-thomas.jpg", alt="mariya-thomas")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. Mariya Thomas
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
                .chef-team.wrap
                    .chef-team-item
                        .chef-team-item-inner
                            p.cheff-name-inner.sintony-bold.fz15.color_white Cheff. James Dico
                            p.cheff-desc.playfair-normal.fz15.color_white Survived not only five centuries, but also the leap into electronic typesetting
                            .chef-team-social
                                a(href="#")
                                    img(src="./images/chef/icon_facebook.png", alt="facebook")
                                a(href="#")
                                    img(src="./images/chef/icon_twitter.png", alt="twitter")
                                a(href="#")
                                    img(src="./images/chef/icon_google.png", alt="google")
                        img.cheff-photo(src="./images/chef/james-dico.jpg", alt="james-dico")
                        .chef-team.rectangle-bottom.color-bg_white
                            p.cheff-name.sintony-bold.fz15.color_dark Cheff. James Dico
                        .chef-team.add-bottom.sintony-bold.fz35.color-bg_orange.color_white
                            .chef-team.plus-bottom
            