section.schedule
  h2.schedule__title.playfair-bold.fz35.color_dark
    | Opening Hours
  span.schedule__text.playfair-normal.fz20.color_gray-better
    | Monday to Saturday
    span.schedule__time.playfair-bold.fz30.color_orange
      | 10 am - 8 pm
  span.schedule__text.playfair-normal.fz20.color_gray-better
    | Sunday
    span.schedule__time.playfair-bold.fz30.color_orange
      | CLOSED
  .schedule__img
    .schedule__item.color-bg_medium-gray
      img(src='./images/schedule/time.png' alt='' srcset='')
