.header__menu.mr
    .header__logo
        a(href='#')
            .header__logo-block-icon
                img.header__logo-icon(src='./images/header/logo.png' alt='' srcset='')
    .header__nav
        +header-menu()
    a.header__cart-item(href='http://')
        img.header__cart-icon(src='./images/header/cart_market.png' alt='cart-item' srcset='')
    a.header__book-btn.btn.fz12.sintony-bold(href='#') Book your table
    .header__burger
        a.header__burger-link(href="#")
            span.header__burger-lines
.banner
    img(src='')
.Menu-List-View
    h2
        | Menu List View
    .tabs
        ul
            li
                img(src='' alt='' srcset='')
                |             All
            li
                img(src='' alt='' srcset='')
                |             Breakfast
            li
                img(src='' alt='' srcset='')
                |             Lunch
            li
                img(src='' alt='' srcset='')
                |             Snacks
            li
                img(src='' alt='' srcset='')
                |             Pizza
            li
                img(src='' alt='' srcset='')
                |             Soups
            li
                img(src='' alt='' srcset='')
                |             Dinner
    .menu-wrap
        .menu-list
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
        .menu-list
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
            +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")

    .div-for-a 
        a.menu__template-btn.btn.fz14.sintony-bold(href='#') Explore food menu
.Speciality 
    .img-Speciality
        .img-Speciality__item
    .disc
        h2.disc-title Speciality
        ul
            li
                span
                    | EXCELLENT SERVICE
                |             Survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            li
                span
                    | EXCELLENT SERVICE
                |             Survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            li
                span
                    | EXCELLENT SERVICE
                |             Survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
