section.gallery-section
  h2.gallery-section__title
    | Our Gallery
  .gallery-section__slider
    .gallery-section__slide
    .gallery-section__slide
    .gallery-section__slide
    .gallery-section__slide
    .gallery-section__slide
  .gallery-section__radio
    ul.gallery-section__list
      li.gallery-section__list-radio
      li.gallery-section__list-radio
      li.gallery-section__list-radio