section.content
  h2.content__title.playfair-bold.fz35.color_dark Our Special Recipies
  p.content__subtitle.sintony-normal.fz14.color_lighter-gray
    | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
  article.content__flex
    +content-item("./images/recipe/food1.jpg", "Prawns tikka", "./images/recipe/stars.png", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an... unknown printer took a galley of type and scrambled it to make a type specimen book. ")
    +content-item("./images/recipe/food2.jpg", "Tomato pakkavada", "./images/recipe/stars4.png", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an... unknown printer took a galley of type and scrambled it to make a type specimen book. ")
    +content-item("./images/recipe/food5.jpg", "Pakoda Chatny", "./images/recipe/stars4.png", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an... unknown printer took a galley of type and scrambled it to make a type specimen book. ")
    +content-item("./images/recipe/food7.jpg", "Pizza Veg", "./images/recipe/stars.png", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an... unknown printer took a galley of type and scrambled it to make a type specimen book. ")
    +content-item("./images/recipe/food8.jpg", "Delisio Sea", "./images/recipe/stars.png", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an... unknown printer took a galley of type and scrambled it to make a type specimen book. ")
    +content-item("./images/recipe/food9.jpg", "Onion pakkavada", "./images/recipe/stars4.png", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an... unknown printer took a galley of type and scrambled it to make a type specimen book. ")