section.speciality
    .speciality__wrapper
        .speciality__image-part
            img(src="./images/about-us/image.jpg", alt="image")
        .speciality__info-block
            h3.speciality__speciality-head.playfair-bold.fz35 Speciality
            h3.speciality__block-head.sintony-bold.fz15 Excellent service
            p.speciality__block-desc.sintony-normal.fz14.color_medium-gray Survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            h3.speciality__block-head.sintony-bold.fz15 Free home delivery
            p.speciality__block-desc.sintony-normal.fz14.color_medium-gray Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            h3.speciality__block-head.sintony-bold.fz15 Cool athmosphere
            p.speciality__block-desc.sintony-normal.fz14.color_medium-gray Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum