mixin menu-item(headline, disc, value)
  ul.menu__template-list
    li.menu__template-item
      .menu__template-text
        span.menu__template-headline.color_dark.sintony-bold.fz16= headline
        span.menu__template-disc.color_lighter-gray.fz14.sintony-normal= disc
      .menu__template-price
        span.menu__template-currency.fz13.playfair-bold.color_dark $
        span.menu__template-value.fz26.playfair-bold.color_dark= value

section.menu
  .menu__wrap.wrapper
    .menu__template
      h2.menu__template-title.playfair-bold.fz35.color_dark
        | Food Menu
      +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
      +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
      +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
      +menu-item("Ultimate organic fruit salad", "survived not only five centuries but the leap", "50")
      a.menu__template-btn.btn.fz14.sintony-bold(href='#') Explore food menu
    .menu__special.fz35.playfair-bold
      h2.menu__special-title.color_dark
        | Today Special
      .menu__special-img.color-bg_white
        .menu__special-item.color-bg_medium-gray
          img(src='' alt='')
        .menu__special-disc
          span.menu__special-heading.fz22.color_dark
            | Pizza Marinara
          span.menu__special-price.fz22.playfair-bold.color_orange
            span.menu__special-currency.fz11.color_dark
              | $
            |                             89.00
      .menu__special-img.small.color-bg_white
        .menu__special-item.color-bg_medium-gray
        .menu__special-disc
          span.menu__special-heading.fz22.color_dark
            | Chicken Noodles
          span.menu__special-price.fz22.playfair-bold.color_orange
            span.menu__special-currency.fz11.color_dark
              | $
            |                             89.00