section.menu
  .menu-wrap.wrapper
    .menu-template
      h2.menu-template__title
        | Food Menu
      ul.menu-template__list
        li.menu-template__item
          .menu-template__text
            span.menu-template__headline
              | Ultimate organic fruit salad
            span.menu-template__disc
              | survived not only five centuries but the leap
          .menu-template__price
            span.menu-template__currency $
            span.menu-template__value 50.00
        li.menu-template__item
          .menu-template__text
            span.menu-template__headline
              | Ultimate organic fruit salad
            span.menu-template__disc
              | survived not only five centuries but the leap
          .menu-template__price
            span.menu-template__currency $
            span.menu-template__value 50.00
        li.menu-template__item
          .menu-template__text
            span.menu-template__headline
              | Ultimate organic fruit salad
            span.menu-template__disc
              | survived not only five centuries but the leap
          .menu-template__price
            span.menu-template__currency $
            span.menu-template__value 50.00
        li.menu-template__item
          .menu-template__text
            span.menu-template__headline
              | Ultimate organic fruit salad
            span.menu-template__disc
              | survived not only five centuries but the leap
          .menu-template__price
            span.menu-template__currency $
            span.menu-template__value 50.00
      a.menu-template_btn(href='#') Explor food menu
    .menu-special
      h2.menu-special__title
        | Today Special
      .menu-special__img
        .menu-special__item
          img(src='' alt='')
        .menu-special__disc
          span.menu-special__heading
            | Pizza Marinara
          span.menu-special__price
            span.menu-special__currency
              | $
            |                             89.00
      .menu-special__img
        .menu-special__item
        .menu-special__disc
          span.menu-special__heading
            | Chicken Noodles
          span.menu-special__price
            span.menu-special__currency
              | $
            |                             89.00
