.menu {
	.menu__wrap {
		display: flex;

		.menu__template {
			position: relative;

			&-list {
				height: 383px;
				max-width: 475px;
				overflow-y: scroll;
				
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: $color_pink;
				}
			}
			margin: 100px 25px 85px 25px;

			&-item {
				display: flex;
				border-bottom: solid 1px $color-border_light-gray;
				padding: 24px 0px 20px;
			}

			&-title {
				margin-bottom: 35px;
			}

			&-headline {
				display: block;
				margin-bottom: 10px;
			}

			&-disc {
				display: block;
			}

			&-btn {
				margin-top: 20px;
				display: inline-block;
				padding: 20px 30px;
			}

			&-currency {
				margin-left: 100px;
			}

			&-value {
				margin-right: 50px;
			}
		}

		.menu__special {
			margin: 100px 25px 85px 25px;
			position: relative;

			&-title {
				margin-bottom: 35px;
			}

			&-img {
				width: 320px;
				height: 335px;
				box-shadow: 0px 36px 51px 0 $color_black-shadow;
				position: relative;
				transition: all 1s ease-in-out;
			}

			&-item {
				width: 320px;
				height: 210px;
			}

			&-heading {
				display: block;
				font-weight: bold;
				margin: 30px 131px 16px 40px;
			}

			&-price {
				display: block;
				margin-bottom: 37px;
				margin-left: 40px;
			}

			&-img.small {
				transition: all 1s ease-in-out;
				z-index: 0;
				position: absolute;
				right: -243px;
				top: 70px;
			}
		}
	}
}
