section.reserve-form
  .wrapper
    h2.reserve-form__title
      | Reserve your table
    form(action='')
      .reserve-form__wrap
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
      .reserve-form__wrap
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
      .reserve-form__wrap
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
