section.reserve-form
  .reserve-form__cube
  
  .wrapper
    h2.reserve-form__title
      | Reserve your table
    form(action='').reserve-form__form
      .reserve-form__wrap
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
      .reserve-form__wrap
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
      .reserve-form__wrap
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
        .reserve-form__item
          .reserve-form__img
          input.reserve-form__input(type='text' placeholder='Name*')
      div.reserve-form__wrap
        input.reserve-form__btn(type='button' value='Make reservation')
        div.reserve-form__disc
          div.reserve-form__text You can also call
          div.reserve-form__text for a reservation
        a.reserve-form__phone(href='tel:1-007-000-005') 1-007 000 005
  .reserve-form__cube



