@import "./mixins.scss";
@import "./fonts.scss";
@import "./color.scss";
@import "./fontsize.scss";
@import "./variables.scss";
@import "./../modules/header/header.scss";
@import "./../modules/menu/menu.scss";
@import "./../modules/reserve-form/reserve-form.scss";
@import "./../modules/feedback-slider/feedback-slider.scss";
@import "./../modules/footer/footer.scss";
@import "./../modules/gallery/gallery.scss";
@import "./../modules/schedule/schedule.scss";
@import "./../responsive_web_design/rwd_home-page/hp_header.scss";
@import "./../responsive_web_design/rwd_home-page/hp_menu.scss";
@import "./../responsive_web_design/rwd_home-page/hp_footer.scss";
@import "./../responsive_web_design/rwd_home-page/hp_feedback-slider.scss";
@import "./../responsive_web_design/rwd_home-page/hp_gallery.scss";
@import "./../responsive_web_design/rwd_home-page/hp_reserve-form.scss";
@import "./../responsive_web_design/rwd_home-page/hp_schedule.scss";




body {
	margin: 0;
	box-sizing: border-box;
}