// .test {
//     .test2 {
//         background-attachment: fixed;
//         background-color: red;
//     }
// }

// .test {
//     background-color: red;
//     &__element {
//         color: black;
//     }
//     &__argument {
//         background-image: none;
//     }
//     &.test2 {
//         font-size: 16px;
//     }
// }

// %test123 {
//     color: red;
//     background-color: green;
//     height: 100px;
//     width: 100px;;
// }

// .block {
//     @extend %test123;

//     &__element{
//         @extend %test123;
//         padding: 20px 0;
//     }
// }
@import './variables.scss';
@import './../modules/header/header.scss';


@function rem($size) {
  @return $size / 16px * 1rem;
}

body {
    box-sizing: border-box;
}


// header-section
.wrapper {
    width: 1084px;
    margin: 0 auto;
}

// menu-section

.menu-wrap {
    display: flex;
    

    .menu-template {
        .menu-template__item {
            display: flex;
            border-bottom: solid 1px #eeeeee;
            padding: 24px 0px 20px;
        }
    
        .menu-template__item:last-child {
            border-bottom: none;
        }
    
        .menu-template__title {
            font-family: $font-Playfair;
            font-size: rem(35px);
            font-weight: bold;
            color: #14141d;
            margin-bottom: 35px;
        }
    
        .menu-template__headline {
            display: block;
            text-transform: uppercase;
            font-family: $font-Sintony;
            font-size: rem(16px);
            font-weight: bold;
            color: #14141d;
            margin-bottom: 10px;
        }
    
        .menu-template__disc {
            display: block;
            font-family: $font-Sintony;
            font-size: rem(14px);
            font-weight: normal;
            color: #5c6369;
        }
    
        .menu-template_btn {
            display: inline-block;
            border-radius: 4px;
            background-color: #fea100;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $font-Sintony;
            font-size: rem(14px);
            font-weight: bold;
            letter-spacing: 0.35px;
            color: #ffffff;
            padding: 20px 30px;
        }
    
        .menu-template__currency {
            font-family: $font-Playfair;
            font-size: rem(13px);
            font-weight: bold;
            color: #14141d;
        }
    
        .menu-template__value {
            font-family: $font-Playfair;
            font-size: rem(26px);
            font-weight: bold;
            color: #14141d;
        }
    }

    .menu-special {
        .menu-special__title {
            font-family: $font-Playfair;
            font-size: rem(35px);
            font-weight: bold;
            color: #14141d;
            margin-bottom: 35px;
        }

        .menu-special__img {
            width: 320px;
            height: 335px;
            box-shadow: 0px 36px 51px 0 rgba(0, 0, 0, 0.1);
        }

        .menu-special__item {
            width: 320px;
            height: 210px;
            background-color: #7d8587;
        }

        .menu-special__heading {
            display: block;
            font-size: rem(22px);
            font-weight: bold;
            color: #14141d;
        }

        .menu-special__price {
            display: block;
            font-family: $font-Playfair;
            font-size: rem(22px);
            font-weight: bold;
            color: #fea100;
        }

        .menu-special__currency {
            font-size: rem(11px);
        }
    }

    
}

// reserve section

.reserve-form {

    background-color: #565f61;

    .reserve-form__title {
        font-family: $font-Playfair;
        font-size: rem(35px);
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 26px;
    }

    .reserve-form__wrap {
        display: flex;
        margin-bottom: 10px;
    }

    .reserve-form__item {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 19px;
        margin-right: 30px;
    }

    .reserve-form__input {
        border: none;
    }

}

// feedback-slider

.feedback-slider {

    .feedback-slider__slide {
        display: flex;
    }

    .feedback-slider__title {
        font-family: $font-Playfair;
        font-size: rem(35px);
        font-weight: bold;
        color: #14141d;
    }

    .feedback-slider__img {
        min-width: 269px;
        min-height: 295px;
        background-color: #7d8587;
    }

    .feedback-slider__headline {
        font-family: $font-Playfair;
        font-size: rem(25px);
        font-weight: bold;
        color: #14141d;
    }

    .feedback-slider__disc {
        font-family: $font-Sintony;
        font-size: rem(15px);
        color: #363d43;
    }

    .feedback-slider__line {
        width: 221px;
        height: 2px;
        background-color: #d7d7d7;    
    }

    .feedback-slider__name {
        font-family: $font-Sintony;
        font-size: rem(16px);
        font-weight: bold;
        color: #14141d;
    }


}

// gallery section

.gallery {
    background-color: #edf1f3;

    .gallery-section__title {
        font-family: $font-Playfair;
        font-size: rem(35px);
        font-weight: bold;
        color: #14141d;
        margin-bottom: 27px;
    }

    .gallery-slider__slide {
        width: 471px;
        height: 340px;
        background-color: #7d8587;
    }
    
}

// schedule section

.schedule {

    .schedule-section__title {
        font-family: $font-Playfair;
        font-size: rem(35px);
        font-weight: bold;
        color: #14141d;
    }
}

// footer section

.footer {
    
    background-color: #373844; 
    
    .footer-flex {
        display: flex;
        justify-content: space-between;
    }

    .footer-column {

       .footer-column__title {
        font-family: $font-Playfair;
        font-size: rem(24px);
        font-weight: bold;
        color: #ffffff;
       } 

       .footer-nav__item {

       }
    }
}