@import "./mixins.scss";
@import "./fonts.scss";
@import "./color.scss";
@import "./fontsize.scss";
@import "./variables.scss";
@import "./../preloader/preloader.scss";
@import "./../modules_about-us/header/header.scss";
@import "./../modules_about-us/main-title/main-title.scss";
@import "./../modules_about-us/schedule/schedule.scss";
@import "./../modules_about-us/footer/footer.scss";
@import "./../responsive_web_design/rwd_about-us/about-us_header.scss";
@import "./../responsive_web_design/rwd_about-us/about-us_schedule.scss";
@import "./../responsive_web_design/rwd_about-us/about-us_footer.scss";

body {
	margin: 0;
	box-sizing: border-box;
}