@import './variables.scss';
@import './../modules/header/header.scss';
@import './../modules/menu/menu.scss';
@import './../modules/reserve-form/reserve-form.scss';
@import './../modules/feedback-slider/feedback-slider.scss';
@import './../modules/footer/footer.scss';
@import './../modules/gallery/gallery.scss';
@import './../modules/schedule/reserve-form.scss';


@function rem($size) {
  @return $size / 16px * 1rem;
}

body {
    box-sizing: border-box;
}

.wrapper {
    width: 1084px;
    margin: 0 auto;
}
