@import "./color.scss";
@import "./fontsize.scss";
@import "./fonts.scss";

.wrapper {
	width: 60%;
	margin: 0 auto;
}

.btn {
	color: $color_white;
	letter-spacing: 0.35px;
	border-radius: 4px;
	background-color: $color_orange;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: $color_dark-orange;
		box-shadow: 0px 0px 0px 3px $color_dark-orange;
	}
	&:active {
		background-color: $color_orange;
		box-shadow: 0px 0px 0px 3px $color_orange;
	}
}

.phone {
	font-family: $font-Playfair;
	text-decoration: none;
	font-weight: bold;
	color: $color_white;
}
.text-decor-dark {
	text-shadow: $color_dark 1px 1px 0, $color_dark -1px -1px 0, 
	$color_dark -1px 1px 0, $color_dark 1px -1px 0;
}