.book-a-table__wrapper {
    width: 83%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.description {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 50px;
	 line-height: 23px;
}

.column {
    display: inline-block;
}

.inner-column-wrap {
	max-width: 1175px;
    position: relative;
}

.inner-column__icon {
    position: absolute;
    top: 30px;
    left: 10px;
}

.inner-column__textarea-icon {
    position: absolute;
    top: 42px;
    left: 10px;
}

.inner-column {
    display: block;
    width: 320px;
    height: 60px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #c7d1d6;
    margin-right: 30px;
    padding-left: 50px;
}

.reqs {
	width: 80%;
    min-height: 70px;
    font-size: 14px;
    z-index: 0;
    border: none;
    border-bottom: 1px solid #c7d1d6;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 50px;
}

.reqs-btn {
    display: block;
    padding: 20px 37px;
    margin: 0 auto;
    margin-bottom: 100px;
    border: none;
}