header.header
  .header__wrapper
    .header__menu
      .header__logo
        a(href='#')
          .header__logo-block-icon
            img.header__logo-icon(src='./images/menu/header_menu/logo.png' alt='' srcset='')
      .header__nav
        +header-menu()
      a.header__cart-item(href='./item-cart.html')
        img.header__cart-icon(src='./images/menu/header_menu/icon_cart.png' alt='cart-item' srcset='')
      a.header__book-btn.btn.fz12.sintony-bold(href='#') Book your table
      .header__burger
        a.header__burger-link(href="#")
          span.header__burger-lines

