section.schedule
  h2.schedule-section__title
    | Opening Hours
  span.schedule-section__text
    | Monday to Friday
    span.schedule-section__time
      | 10am - 10pm
  span.schedule-section__text
    | Saturday to Sunday
    span.schedule-section__time
      | 09am - 11pm
  div.schedule-section__img
    div.schedule-section__item
      img(src='' alt='')
