section.address.color-bg_slight-blue
    .address__wrapper
        .address__block-one
            .address__double-part
                .address__form-block.color-bg_white
                    h2.form-part__title.playfair-bold.fz35.color_dark
                        | Get in touch
                    form.fz14.sintony-normal.color_less-dark(action="submit")
                        input.touch.name(type="text" placeholder="Name*")
                        input.touch.email(type="text" placeholder="Email*")
                        textarea.touch.message.fz14.sintony-normal.color_less-dark(type="text" placeholder= "Message*")
                        button.btn.form-btn.fz14.sintony-bold(href='#') Send now
                .address__address-block.color-bg_pink.color_white
                    h2.form-part__title.playfair-bold.fz35
                        | Our Address
                    .address__address-part
                        p.address-word.sintony-bold.fz14 Address
                        p.playfair-bold.fz23 Luxury Restaurent
                        p.playfair-bold.fz23 California Second Street
                        p.lux.playfair-bold.fz23 2nd floor
                        p.phone.playfair-bold.fz14 Phone
                        a.phone-number.playfair-bold.fz23.color_white(href="tel:1-007-000-005") +91 8559 5585 6559
                        p.email.sintony-bold.fz14 Email
                        a.email-address.playfair-bold.fz23.color_white(href="mailto:info@luxuryrestaurent.com") info@luxuryrestaurent.com
                        p.follow.sintony-bold.fz14 Follow Us
                        ul.icons
                            li.icons
                                a.address__social-link(href="https://uk-ua.facebook.com/")
                                    img(src="./images/footer/facebook.png", alt="facebook")
                            li.icons
                                a.address__social-link(href="https://twitter.com/ru")
                                    img(src="./images/footer/twitter.png", alt="twitter")
                            li.icons
                                a.address__social-link(href="https://www.google.com.ua/?hl=ru")
                                    img(src="./images/footer/google.png", alt="google+")
