.main-title {
	display: flex;
	padding: 66px 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: url("./../images/main-title/main-title.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.main-title_img{
padding: 10px 9px 0;
}
.main-subtitle {
	position: relative;
	text-align: center;
}
