section.blog
  article.blog__content
    +blog__content("./images/blog/content/food.jpg", "Aenean pharetra lectus utsto.", "65", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.", "08", "nov-06")
    +blog__content("./images/blog/content/food2.jpg", "Mauris finibus urna a nunc.", "65", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.", "12", "nov-06")
    +blog__content("./images/blog/content/food3.jpg", "Vivamus volutpat odio in dapibus.", "65", "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.", "15", "nov-06")
  article.blog__sidebar
    .blog__sidebar-category
      h3.blog__sidebar-category-title.playfair-bold.fz26 Category
      .blog__sidebar-category-list
        ul.blog__sidebar-category-list-tags
          +category-tag('all foods')
          +category-tag('vegitables')
          +category-tag('delicious food')
          +category-tag('special dishes')
          +category-tag('juices')
    .blog__sidebar-post
      h3.blog__sidebar-post-title.playfair-bold.fz26 Recent Post
      +post("./images/blog/sidebar/post_food.jpg", "08-nov-2016", "Suspendisse eu duilibero malesuada")
      +post("./images/blog/sidebar/post_food2.jpg", "13-nov-2016", "Quisque pellentesturpis sit amet")
      +post("./images/blog/sidebar/post_food3.jpg", "20-nov-2016", "Suspendisse eu duilibero malesuada")
      .blog__sidebar-post-radio
        +radio-orange()
    .blog__sidebar-archive
      h3.blog__sidebar-archive-title.playfair-bold.fz26 Archive
      ul.blog__sidebar-archive-statistic
        +archive("january", "( 15 )")
        +archive("february", "( 66 )")
        +archive("march", "( 08 )")
        +archive("april", "( 12 )")
        +archive("may", "( 37 )")
    .blog__sidebar-tags
      h3.blog__sidebar-tags-title.playfair-bold.fz26 Tags
      .blog__sidebar-tags-container
        +tags("juice")
        +tags("vegetables")
        +tags("special dishes")
        +tags("lunch")
        +tags("all foods")
