.blog {
	position: relative;
	width: 60%;
	margin: 0 auto;
	padding-top: 97px;
	display: flex;

	&__content {
		max-width: 650px;
		padding-right: 55px;

		&-item {
			padding-bottom: 100px;
			&:last-child {
				padding-bottom: 170px;
			}

			&-text {
				padding-top: 33px;
				&-date {
					float: left;
					padding: 12px 0 0 15px;
					width: 70px;
					height: 50px;
					box-shadow: 0px 0px 0px 3px $color_orange;
					border: 1px solid $color_white;
				}
				&-description {
					padding-top: 7px;
					padding-left: 130px;

					&-main_text {
						padding-top: 24px;
						padding-right: 60px;
						line-height: 26px;
					}
				}
			}

			&-panel {
				display: flex;
				margin-top: 45px;
				margin-left: 100px;
				border-top: 1px solid $color_light;
				border-bottom: 1px solid $color_light;

				&-rate {
					width: 100%;
					display: flex;
					align-items: center;

					&-btn {
						flex-grow: 3;
						padding: 11px 0 11px 30px;
						&-read_more {
							display: inline-block;
							padding: 20px 30px;
						}
					}
					&-like {
						width: 23px;
						height: 19px;
						background-image: url("./../images/blog/content/Like_empty.png");
						background-repeat: no-repeat;
						cursor: pointer;
					}
					&-summ {
						background-color: $color_pink;
						width: 33px;
						height: 17px;
						border-radius: 35%;
						padding-top: 4px;
						letter-spacing: 0.5px;
						text-align: center;
						margin-right: 10px;
						margin-left: 5px;
					}
				}
				&-links {
					border-left: 1px solid $color_light;
					display: flex;
					align-items: center;
					padding-right: 30px;

					&-share {
						margin-left: 30px;
						margin-right: 15px;
					}
					&-social {
						display: flex;
						&-block {
							&-link {
								margin-left: 5px;
								position: relative;
								width: 22px;
								height: 22px;
								display: inline-block;
								padding: 10px;
								border: 2px solid $color_light;
								border-radius: 50%;
								&:hover {
									border: 2px solid $color_dark-orange;
									background-color: $color_orange;
								}
								&-icon {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}

	&__sidebar {
		&-category {
			&-list {
				padding-top: 33px;
				&-tags {
					&-item {
						display: inline-block;
						cursor: pointer;
						position: relative;
						padding-left: 30px;
						margin-bottom: 20px;
						&:last-child {
							margin-bottom: 0;
						}
						&:before {
							content: "";
							position: absolute;
							width: 20px;
							height: 2px;
							background-color: $color_light-pink;
							border: 2px solid $color_pink;
							top: 3.5px;
							left: 0;
						}
						&:hover {
							color: $color_pear;
							&:before {
								transition: all 0.6s;
								background-color: $color_pear;
								border: 2px solid $color_light-pear;
							}
						}
					}
				}
			}
		}
		&-post {
			padding: 99px 0 96px;

			&-radio {
				display: flex;
				justify-content: center;
			}

			&-title {
				margin-bottom: 23px;
			}

			&-item {
				display: flex;
				margin-bottom: 39px;

				&-text {
					padding-left: 20px;

					&-title {
						padding-bottom: 10px;
						letter-spacing: 0.26px;
					}

					&-text {
						line-height: 16px;
					}
				}
			}
		}
		&-archive {
			padding-bottom: 99px;
			&-title {
				padding-bottom: 37px;
			}
			&-statistic {
				&-item {
					padding-bottom: 23px;
					display: flex;
					justify-content: space-between;
					&:last-child {
						padding-bottom: 0;
					}

					&-date {
						letter-spacing: 0.35px;
					}
				}
			}
		}
		&-tags {
			&-title {
				padding-bottom: 20px;
			}
			&-container {
				&-item {
					cursor: pointer;
					display: inline-block;
					padding: 7px 10px;
					background-color: $color_light-pear;
					white-space: nowrap;
					margin: 0 3px 5px 0;
					border: 1px solid transparent;
					&:hover {
						border: 1px solid $color_pear;
					}
				}
			}
		}
	}
	&__pagination {
		display: flex;
		position: absolute;
		bottom: 0;
		&-btn-prev,
		&-btn-next {
			padding: 12px 30px;
			border-radius: 20px;
			border: transparent;
		}
		&-container {
			&-pages {
				margin-left: 10px;
				padding: 12px 30px;
				border-radius: 20px;
				background-color: transparent;
				&:last-child {
					margin-right: 10px;
				}
			}
		}
	}
}
