section.special-reservations
    .special-reservations__wrapper
        h2.special-reservations__title.playfair-bold.fz35.color_dark
            | Special Reservations
        .special-reservations.propositions-part
            .special-proposition.private-dinner.color-bg_white             
                ul

                    li.dinning.dinning-img
                        img(src="./images/reserve-form/image.png", alt="image")
                    li.dinning.dinning-head.playfair-bold.fz26.color_dark Private Dinner
                    li.dinning.dinning-desc.sintony-normal.fz14.color_less-dark Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            .special-proposition.info.color-bg_pink.color_white
                ul
                    li.info-phone
                        img(src="./images/reserve-form/icon_phone.png", alt="icon-phone")
                    li.phone-number.playfair-bold.fz24 1-007 000 005
                    li.call-us.sintony-bold.fz13 Call us for a Special reservation
                    li.info-email
                        img(src="./images/reserve-form/icon_email.png", alt="icon-email")
                    li.phone-number.playfair-bold.fz24 Info@luxury.com
                    li.mail-us.sintony-bold.fz13 Mail us for a special reservation
                    
                    

            .special-proposition.couple-dinner.color-bg_white
                ul
                    li.dinning.dinning-img
                        img(src="./images/reserve-form/image.png", alt="image")
                    li.dinning.dinning-head.playfair-bold.fz26.color_dark Couple Dinner
                    li.dinning.dinning-desc.sintony-normal.fz14.color_less-dark Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
