@media (max-width: 998px) {
	.gallery {
		&__slider {
			& > .gallery__slide {
				height: 211px;
			}
		}
	}
	.gallery__wrapper-slide {
		margin-bottom: 200px;
  }
}
@media (max-width: 576px) {
	.gallery {
		&__slider {
			& > .gallery__slide {
				height: 175px;
			}
		}
	}
}

@media (max-width: 490px) {
	.gallery {
		&__slider {
			& > .gallery__slide {
				height: 150px;
			}
		}
	}
}

@media (max-width: 320px) {
	.gallery {
		&__slider {
			& > .gallery__slide {
				height: 115px;
			}
		}
	}
}
