.main
    h2.menu-list
        | Menu List View
    .tab
        button.tablinks(data-id='All')
            img.svg-icon(src='images/menu/menu_list/icon_all.png' alt='icon_all' srcset='')
            |                 All
        button.tablinks(data-id='Breakfast')
            img.svg-icon(src='images/menu/menu_list/icon_breakfast.png' alt='icon_breakfast' srcset='')
            |                 Breakfast
        button.tablinks(data-id='Lunch')
            img.svg-icon(src='images/menu/menu_list/icon_lunch.png' alt='icon_lunch' srcset='')
            |                 Lunch
        button.tablinks(data-id='Snacks')
            img.svg-icon(src='images/menu/menu_list/icon_snacks.png' alt='icon_snacks' srcset='')
            |                 Snacks
        button.tablinks(data-id='Pizza')
            img.svg-icon(src='images/menu/menu_list/icon_pizza.png' alt='icon_pizza' srcset='')
            |                 Pizza
        button.tablinks(data-id='Soups')
            img.svg-icon(src='images/menu/menu_list/icon_soups.png' alt='icon_soups' srcset='')
            |                 Soups
        button.tablinks(data-id='Dinner')
            img.svg-icon(src='images/menu/menu_list/icon_dinner.png' alt='icon_dinner' srcset='')
            |                 Dinner
    .tab-wrap
        #All.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Ultimate organic fruit salad
                    p survived not only five centuries but the leap
                .tabcontent-inner
                    h3 Ultimate organic fruit salad
                    p survived not only five centuries but the leap
        #Breakfast.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus dolores non.
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus dolores non.
        #Lunch.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!
        #Snacks.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p Lorem ipsum dolor sit amet.
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p Lorem ipsum dolor sit amet.
        #Pizza.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing.
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing.
        #Soups.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem.
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
                .tabcontent-inner
                    h3 Lorem.
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
        #Dinner.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet.
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet.
    .link-wrap
        a.Explor-food(href='#') Explor food menu