.main
    h2.menu-list
        | Menu List View
    .tab
        button.tablinks(data-id='All')
            img.svg-icon(src='img/icons/all.svg' alt='' srcset='')
            |                 All
        button.tablinks(data-id='Breakfast')
            img.svg-icon(src='img/icons/Breakfast.svg' alt='' srcset='')
            |                 Breakfast
        button.tablinks(data-id='Lunch')
            img.svg-icon(src='img/icons/Lunch.svg' alt='' srcset='')
            |                 Lunch
        button.tablinks(data-id='Snacks')
            img.svg-icon(src='img/icons/Snacks.svg' alt='' srcset='')
            |                 Snacks
        button.tablinks(data-id='Pizza')
            img.svg-icon(src='img/icons/Pizza.svg' alt='' srcset='')
            |                 Pizza
        button.tablinks(data-id='Soups')
            img.svg-icon(src='img/icons/Soups.svg' alt='' srcset='')
            |                 Soups
        button.tablinks(data-id='Dinner')
            img.svg-icon(src='img/icons/Dinner.svg' alt='' srcset='')
            |                 Dinner
    .tab-wrap
        #All.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Ultimate organic fruit salad
                    p survived not only five centuries but the leap
                .tabcontent-inner
                    h3 Ultimate organic fruit salad
                    p survived not only five centuries but the leap
        #Breakfast.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus dolores non.
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus dolores non.
        #Lunch.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!
        #Snacks.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p Lorem ipsum dolor sit amet.
                .tabcontent-inner
                    h3 Lorem, ipsum.
                    p Lorem ipsum dolor sit amet.
        #Pizza.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing.
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing.
        #Soups.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem.
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
                .tabcontent-inner
                    h3 Lorem.
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
        #Dinner.tabcontent
            .tabcontent-flex
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet.
                .tabcontent-inner
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet.
    .link-wrap
        a.Explor-food(href='#') Explor food menu