.header {
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 20px 0 100px;
	background-image: url("./../images/header/head.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	&__burger {
		display: none;
	}

	&__logo-icon {
		outline: none;
		display: inline-block;
		width: 150px;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 200px;
	}

	.header__nav {
		&-list {
			display: flex;

			.header__nav-item {
				margin-right: 20px;

				&:first-child {
					margin-left: 16px;
				}

				.header__nav-link {
					text-decoration: none;
					letter-spacing: 0.35px;
					@include hover-link;
				}
			}
		}
	}

	&__book-btn {
		margin-left: 20px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 0px 0px 3px $color_orange;
		border: 1px solid $color_white;
		padding: 12px 12px 12px 45px;

		&::before {
			content: "";
			width: 20px;
			height: 20px;
			position: absolute;
			background-image: url("./../images/header/iconPlate.png");
			background-repeat: no-repeat;
			top: 20%;
			left: 7.5%;
		}

		@include hover-button;
	}

	&__slider {
		padding: 0 189.5px;
		position: relative;
		max-width: 532px;
		margin: 0 auto;

		&::before,
		&::after {
			content: "";
			position: absolute;
			border-top: 3px solid $color_white;
			border-left: 3px solid $color_white;
			width: 40px;
			height: 40px;
			top: 50%;
		}

		&::before {
			left: 0;
			transform: rotate(-45deg);
		}

		&::after {
			right: 0;
			transform: rotate(135deg);
		}

		.header__slider-title {
			margin-bottom: 70px;
			text-align: center;
		}
	}

	.header__slider-info {
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-svg {
			margin-bottom: 30px;
		}

		&-phone {
			@include hover-link;
		}
	}
}
