footer.footer
  .wrapper.footer-flex
    .footer-column
      h3.footer-column__title
        | Navigation
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href='http://') Home
          li.footer-nav__item
            a.footer-nav__link(href='http://') About us
          li.footer-nav__item
            a.footer-nav__link(href='http://') Menu
          li.footer-nav__item
            a.footer-nav__link(href='http://') Reservation
          li.footer-nav__item
            a.footer-nav__link(href='http://') Recipe
          li.footer-nav__item
            a.footer-nav__link(href='http://') Blog
          li.footer-nav__item
            a.footer-nav__link(href='http://') Contact Us
    .footer-column
      h3.footer-column__title
        | News letter
      span.span
        | Enter your email address and subscribe daily newsletter
      form(action='')
        .div
          .div
          input(type='text' placeholder='Email Address')
        button(type='submit') Subscribe
    .footer-column
      h3.footer-column__title
        | Our app avilable
