footer.footer
  .wrapper.footer-flex
    .footer-column
      h3.footer-column__title
        | Navigation
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href='http://') Home
          li.footer-nav__item
            a.footer-nav__link(href='http://') About us
          li.footer-nav__item
            a.footer-nav__link(href='http://') Menu
          li.footer-nav__item
            a.footer-nav__link(href='http://') Reservation
          li.footer-nav__item
            a.footer-nav__link(href='http://') Recipe
          li.footer-nav__item
            a.footer-nav__link(href='http://') Blog
          li.footer-nav__item
            a.footer-nav__link(href='http://') Contact Us
    .footer-column
      h3.footer-column__title
        | News letter
      span.footer-subscribe__disc
        | Enter your email address and subscribe daily newsletter
      form(action='').footer-form
        .footer-form__input
          .footer-form__icon
            input(type='text' placeholder='Email Address').footer-form__item
        button.footer-form__btn(type='submit') Subscribe
    .footer-column
      h3.footer-column__title
        | Our app avilable
      a.footer-column__link(href='http://')
        img.footer-link__img(src='./images/footer/appstore.svg' alt='appstore' srcset='')
      a.footer-column__link(href='http://')
        img.footer-link__img(src='./images/footer/googlestore.svg' alt='googlestore' srcset='')
    .footer-copyright
      span.footer-copyright__text 2016 &copy;  Luxury Restaurant, All rights reserved
