footer.footer
  .wrapper.footer__flex
    .footer__column
      h2.footer__column-title
        | Navigation
      nav.footer__nav
        ul.footer__nav-list
          - arr = ['Home', 'About us', 'Menu', 'Reservation', 'Recipe', 'Blog', 'Contact us']
            each val in arr
              li.footer__nav-item.footer-margin
               a.footer__nav-link.style-mix(href='#') #{val}
    .footer__column
      h2.footer__column-title
        | News letter
      span.footer__subscribe-disc.style-mix
        | Enter your email address and subscribe daily newsletter
      form.footer__form(action='')
        .footer__form-input
          .footer__form-icon
            input.footer__form-item(type='text' placeholder='Email Address')
        button.footer__form-btn(type='submit') Subscribe
    .footer__column
      h2.footer__column-title
        | Our app avilable
      a.footer__column-link(href='http://')
        img.footer__link-img(src='./images/footer/appstore.svg' alt='appstore' srcset='')
      a.footer__column-link(href='http://')
        img.footer__link-img(src='./images/footer/googlestore.svg' alt='googlestore' srcset='')
    .footer__copyright
      span.footer__copyright-text 2016 &copy;  Luxury Restaurant, All rights reserved
