section.our-history
    .our-history__wrapper
        .our-history__title.playfair-bold.fz35 Our History
        .our-history__text.sintony-normal.fz14.color_lighter-gray Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        .our-history__video-block
            <iframe width="969" height="446" src="https://www.youtube.com/embed/EdCA5a_AViw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .our-history__video-desc.sintony-bold.fz13 Our hotel video

