.our-history {
    padding: 100px 0;

    &__wrapper {
        display: block;
        text-align: center;
    }

    &__title {
        padding-bottom: 40px;
    }
    
    &__text {
        width: 700px;
        margin: 0 auto;
        line-height: 1.857;
        padding-bottom: 60px;
    }
    
    &__video-block {
        padding-bottom: 20px;
    }

    &__video-desc {
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        width: 969px;
        margin: 0 auto;
        text-align: left;
    }
}


  